{% extends '::base.html.twig' %}
{% block menu %}
    {%include '::menu.html.twig' with {'selected':'achat'} %}
{% endblock %}
{% form_theme edit_form 'form_bootstrap.html.twig'%}

{% block body %}
    <div class='container'>
        {{form_start(edit_form,{'action':path('purchase_new'),'method':'POST','attr':{'role':'form','enctype':'multipart/form-data','title_form':'Edit Achat'} })}}
        {{form_end(edit_form)}}
        <ul>
            <li>
                <a href="{{ path('purchase_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $.fn.datepicker.defaults.language = 'fr';
            $.fn.datepicker.defaults.format = 'dd/mm/yyyy';
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}

