{% extends '::base.html.twig' %}
{% block menu %}
    {%include '::menu.html.twig' with {'selected':'list_staffs'} %}
{% endblock %}
{% form_theme form 'form_bootstrap.html.twig'%}

{% block body %}
    <div class='container new-staff'>
        {{form_start(form,{'action':path('staffs_new'),'method':'POST','attr':{'role':'form','enctype':'multipart/form-data','title_form':'Nouveau'} })}}
        {{form_end(form)}}
    </div> 
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
	$.fn.datepicker.defaults.language = 'fr';
	$.fn.datepicker.defaults.format = 'dd/mm/yyyy';
	$('.datepicker').datepicker();
 });
</script>
{% endblock %}
