{% extends '::base.html.twig' %}
{% block menu %}
    {%include '::menu.html.twig' with {'selected':'list_staffs'} %}
{% endblock %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class='container new-staff'>
        <h1>Nouveau</h1>
        <hr/>
        {{form_start(form,{'action':path('staffs_new'),'method':'POST','attr':{'role':'form','enctype':'multipart/form-data'}})}}
        {{form_end(form)}}
    </div> 
{% endblock %}
{% block javascripts %}
{{ form_javascript(form.birthDate) }}
{{ form_javascript(form.hiringDate) }}
{% endblock %}
